{"swagger":"2.0","info":{"title":"Open Weather API","version":"1.0"},"host":"api.openweathermap.org","paths":{"/weather":{"get":{"responses":{"200":{"description":"","schema":{"type":"object","properties":{}}}},"parameters":[{"in":"query","name":"q","type":"string","description":"city name and country code divided by comma, use ISO 3166 country codes"},{"in":"query","name":"id","type":"string","description":"By city ID"},{"in":"query","name":"lat","type":"string","description":"By geographic coordinates"},{"in":"query","name":"lon","type":"string","description":"By geographic coordinates"},{"in":"query","name":"zip","type":"string","description":"By ZIP code"}],"summary":"Get weather for a city","operationId":"Get Weather for City"}},"/box/city":{"get":{"responses":{"200":{"description":"","schema":{"type":"object","properties":{}}}},"summary":"Cities within a rectangle zone","parameters":[{"in":"query","name":"bbox","type":"string","description":"bounding box [lon-left,lat-bottom,lon-right,lat-top,zoom]"}],"operationId":"Get Weather for cities rectangle zone"}},"/find":{"get":{"responses":{"200":{"description":"","schema":{"type":"object","properties":{}}}},"summary":"Cities within definite circle","parameters":[{"in":"query","name":"lat","type":"string","description":"latitude"},{"in":"query","name":"lon","type":"string","description":"longitude"},{"in":"query","name":"cnt","type":"string","description":"cnt "}],"operationId":"Get Weather for cities in circle"}},"/group":{"get":{"responses":{"200":{"description":"","schema":{"type":"object","properties":{}}}},"summary":"Call for several city IDs","parameters":[{"in":"query","name":"id","type":"string","description":"City ID"},{"in":"query","name":"units","type":"string"}],"operationId":"Get Weather for several city IDs"}}},"basePath":"/data/2.5","schemes":["http"],"securityDefinitions":{"APPID":{"type":"apiKey","name":"APPID","in":"query","description":"Provide your application id"}},"security":[{"APPID":[]}]}